aside {
    width:20vw;
    margin-left:1vw;
    margin-top:1vw;
}

.menu-list li ul {
    margin:0!important;
}

.accordion {
    cursor: pointer;
    transition: 0.4s;

}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    box-shadow:none!important;
    /*or better with shadow? */
}

#spiral {
    height:95vh;
    margin:auto;
    margin-top:1vw;
    display:block;
}

