aside {
    width:20vw;
    margin-left:1vw;
}

ul {
    margin-bottom:0!important;
}

.accordion {
    cursor: pointer;
    transition: 0.4s;

}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    box-shadow:none!important;
    /*or better with shadow? */
}

