:root {
    --bg-color: #434343;
    --text-color-light: #ffffff;
    --text-color-grey: #b7b7b7;
    --primary-color: #fba97a;
    --secondary-color-blue: #148EFF;
    --secondary-color-purple: #8e7cc3;
    --secondary-color-green: #609A47;
}


@media (min-device-width:789px) {

    #is-sidebar-menu {
        margin-left: 100px;
    }

}
@media (max-device-width:768px) {
    #content {
        margin: 20px;
        margin-top:40px!important;
    }

}


body {
    min-height: 100%;
}

section {
    margin-bottom:5%;
}

aside {
    height: 100vh;
    padding:20px 30px;
    position:fixed;
    overflow:auto;
    /*box-shadow: 1px 19px 10px lightgrey;*/
}

aside::-webkit-scrollbar {
    display: none;
}

ol>li {
    padding:10px 0!important;
}

footer {
    font-size:0.75em;
    padding:2em!important;
    width:100%;
}

.container_footer{
    width:100%;
    margin:40px 0 0 0;
    padding:0;
}

.authors_list{
    margin-bottom:0.5em!important;
}

.custom-list {
    margin-left:20px;
}

.menu-list li ul {
    margin:0!important;
}

.accordion {
    cursor: pointer;
    transition: 0.4s;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    box-shadow:none!important;
    /*or better with shadow? */
    border-radius:0!important;
}

.video {
    display:block;
    width:100%;
    max-width: 800px ;
    margin: auto;
    padding-bottom: 20px;
}

.box_title{
    font-weight: bold;
    padding-bottom:1vh;
    color:var(--secondary-color-blue)!important;
}

.box_reading {
    box-shadow: none!important;
    background-color: #F5F5F5 !important;
    border-left: var(--secondary-color-blue) 3px solid;
    display:block;
    padding: 0.5rem 1rem;
    margin-top:1rem;
}

.tasks_title {
    color:var(--secondary-color-green)!important;
}

.tasks_text {
    background-color: #F9FCF8 !important;
    border-left: var(--secondary-color-green) 3px solid;
}

.templates_title {
    color:var(--secondary-color-purple)!important;
}

.templates_text {
    background-color: #F5F4FA !important;
    border-left: var(--secondary-color-purple) 3px solid;
}

.important_text {
    background-color: #FCDECF !important;
    border-left: var(--primary-color) 3px solid;
}

.important_title {
    color: var(--bg-color)!important;
}

.quote{
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #eee;
    padding: 1.5em 0 0.5em;
    margin: 1.5em 0;
    position: relative;
}

.quote:before {
    content: '\201C';
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 3rem;
    height: 2rem;
    font: 6em/1.08em 'PT Sans', sans-serif;
    color: #666;
    text-align: center;
}
.quote:after {
    content: "\2013 \2003" attr(cite);
    display: block;
    text-align: right;
    font-size: 0.875em;
    color:black;
}

.bullets {
    margin-left:15px;
    list-style-type: circle;
}

.numbers {
    margin-left: 15px;
}

.icons {
    margin-right: 5px;
}

.is-blurred {
    filter: blur(10px);
}

.task_box {
    background-color: white;
}

.expectation_box {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding:10px;
    margin:10px;
}

.expectation_box_title {
    color:var(--primary-color);
    font-weight: bold;
}

#is-sidebar-menu {
    width:100%;
}

#content {
    margin-top:20px;
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--primary-color); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px 20px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 25px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#search {
    background-color: var(--primary-color);
}


#spiral {
    max-height:90vh;
    width:auto;
    padding-top:20px;
}

#burger_menu {
    padding-top:50px;
}

#logo {
    margin-bottom: 20px;
}

#schedule {
    width:100%;
}



